
@{
    ViewBag.Title = "Check_out_success";
}

<!DOCTYPE html>
<html>
<head>
    <title>Clothes Store</title>
    <link rel="shortcut icon" type="image/png" href="~/Content/images/images.png" />
    <meta name="viewport" content="width=device-width" />
    <title>Check_out_success</title>
</head>
<body style="text-align:center">
    <h2>Check_out_success</h2>
    <h4>U will receive goods 3-4 days.Thanks</h4>
    <a href="@Url.Action("Index","Home")">Tiếp tục mua hàng</a>
</body>
</html>
